<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    {% load material_form %}
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link href="./styles.css" rel="stylesheet">
	<link rel="shortcut icon" href="./icon.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<nav class="topbar">
		<div>
			<div class="nav-wrapper">
			<a href="#" class="brand-logo center">PET-HOME</a>
			</div>
		</div>
	</nav> 
    <div class="linea" style="height: 10px; background-color: #424242;"></div>
    <div class="container">
      <h2> Listado de mascotas en adopción </h2>
      <hr>
      <table> 
        <tr>
          <th> Nombre </th>
          <th> Fecha </th>
          <th> Tipo </th>
          <th> Estatus </th>
		  <th> Foto </th>
        </tr>
        
        {% for M in Mascotas %}
        <tr>
          <td> {{ M.data.0 }} </td>
          <td> {{ M.data.1 }} </td>
          <td> {{ M.data.2 }} </td>
          <td> {{ M.data.3 }} </td>
          <td> 
            {%if M.foto %}
            <img src="data:foto/jpg;base64, {{M.foto}}" width="250" height="250">
            {%endif%}
          </td>
        </tr>
      {% endfor %} 
    </table>
    </div>
</body>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12"></div>
      </div>
    </div>
    
    <div class="footer-copyright">
      <div class="container">
      © PetHome S.A De C.V
      <a class="grey-text text-lighten-4 right" href="/Clinica/">Centro operativo: Clínica</a>
      </div>
    </div>
  </footer>
</html>